<app-hero
    [heading]="'Sales Statistics'"
    [crumbs]="'Totals and Leaderboards'">
</app-hero>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Total Orders</h4>
                <hr>
                <h2 class="mb-0">{{orders_total}}</h2>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Total Sales</h4>
                <hr>
                <h2 class="mb-0">{{sales_total | currency}}</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Drink Leaderboard</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Top selling drinks by volume</h6>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Bubble</th>
                            <th scope="col">Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let tea of tea_leader; let i = index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{tea.name}}</td>
                            <td>{{tea.qty}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bubble Leaderboard</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Top selling bubbles by volume</h6>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Bubble</th>
                            <th scope="col">Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let bubble of bubble_leader; let i = index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{bubble.name}}</td>
                            <td>{{bubble.qty}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>