<app-hero
    [heading]="'Bitcoin!'"
    [crumbs]="''">
</app-hero>

<div class="container mt-4">
    <div class="text-center">
        <h3><i class="fa fa-btc" aria-hidden="true"></i></h3>
        
        <img src="/assets/images/delorean.jpg">
        <br>
        <blockquote class="blockquote">
            <p class="mb-0">"Marty! Let's go back to 2009 and buy some bitcoin."</p>
        </blockquote>
        <button class="btn btn-primary btn-sm mt-4 mb-4" [routerLink]="'/'">Back Home</button>
    </div>

    
</div>